/* Main */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 0px;

width: 1280px;
height: 2041.53px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Section Hero */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 0px;

width: 1280px;
height: 326.59px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 32px;
gap: 14.9px;

width: 1280px;
max-width: 1280px;
height: 166.59px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1216px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 98.94px;
height: 15px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
/* identique à la hauteur de la zone de texte, ou 120% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.2px;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 1.1px 0px 0px;

width: 1216px;
height: 63.1px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 413.28px;
height: 62px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 62px;
/* identique à la hauteur de la zone de texte, ou 110% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -1.12px;

color: #00105B;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 0.69px;

width: 672px;
max-width: 672px;
height: 58.69px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 659.96px;
height: 58px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* ou 160% */
display: flex;
align-items: center;
text-align: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section Coordonnées & Bureaux */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 32px 160px;

width: 1280px;
height: 659.75px;

background: #F6F3EF;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

width: 1216px;
height: 419.75px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Global Contact Info */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 32px;

position: absolute;
height: 419.56px;
left: 0px;
right: 832px;
top: 0px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 2px;


/* Heading 3 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 302px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Coordonnées */

width: 302px;
height: 32px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identique à la hauteur de la zone de texte, ou 130% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 302px;
height: 273.56px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 302px;
height: 47.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 114.27px;
height: 47.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 114.27px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -0.5px 0px;


/* Text */

width: 71.11px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link → 1-888-680-8181 */

width: 114.27px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 302px;
height: 47.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 20px;
height: 16px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 133.25px;
height: 47.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 133.25px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -0.5px 0px;


/* Text */

width: 60.19px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link → contact@victrix.ca */

width: 133.25px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* HorizontalBorder */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 16px 0px 0px;

width: 302px;
height: 146.56px;

border-top: 1px solid #C4C5D9;

/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

width: 302px;
height: 129.56px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 3.5px;

position: absolute;
height: 44.5px;
left: 0px;
right: 175px;
top: 0px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 127px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* MONTRÉAL */

width: 127px;
height: 15px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
/* identique à la hauteur de la zone de texte, ou 120% */
display: flex;
align-items: center;
letter-spacing: 1.2px;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link → 514-879-1919 */

width: 100.08px;
height: 26px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identique à la hauteur de la zone de texte, ou 160% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 3.5px;

position: absolute;
height: 44.5px;
left: 175px;
right: 0px;
top: 0px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 127px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* QUÉBEC */

width: 127px;
height: 15px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
/* identique à la hauteur de la zone de texte, ou 120% */
display: flex;
align-items: center;
letter-spacing: 1.2px;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link → 418-780-8181 */

width: 100.08px;
height: 26px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identique à la hauteur de la zone de texte, ou 160% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 3.3px;

position: absolute;
height: 70.29px;
left: 0px;
right: 175px;
top: 59.98px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 127px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* PARIS */

width: 127px;
height: 15px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
/* identique à la hauteur de la zone de texte, ou 120% */
display: flex;
align-items: center;
letter-spacing: 1.2px;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link → +33 1 74 90 50
40 */

width: 106.25px;
height: 52px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* ou 160% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Offices Bento-ish Grid */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
height: 419.75px;
left: 416px;
right: 0px;
top: 0px;



/* Québec */

box-sizing: border-box;

width: 250.66px;
height: 419.75px;

background: #FCF9F5;
border: 1px solid #C4C5D9;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 4:margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

position: absolute;
height: 40px;
left: 33px;
right: 33px;
top: 177px;



/* Heading 4 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 184.66px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Québec */

width: 184.66px;
height: 32px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identique à la hauteur de la zone de texte, ou 130% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;

position: absolute;
height: 146.97px;
left: 33px;
right: 33px;
top: 216.19px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 53.97px;

width: 184.66px;
height: 130.97px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 330 Rue Saint-Vallier Est, #130 Québec (QC), G1K 9C5 */

width: 184.66px;
height: 77px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* ou 160% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
height: 24px;
left: 33px;
right: 33px;
top: 362.25px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 100.08px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;

position: absolute;
height: 144px;
left: 33px;
right: 33px;
top: 33px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 184.66px;
height: 128px;

border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image */

width: 184.66px;
height: 128px;

background: url(.jpg);

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Montréal */

box-sizing: border-box;

width: 250.67px;
height: 419.75px;

background: #FCF9F5;
border: 1px solid #C4C5D9;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Heading 4:margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

position: absolute;
height: 40px;
left: 33px;
right: 33px;
top: 177px;



/* Heading 4 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 184.67px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Montréal */

width: 184.67px;
height: 32px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identique à la hauteur de la zone de texte, ou 130% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;

position: absolute;
height: 146.97px;
left: 33px;
right: 33px;
top: 216.19px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 53.97px;

width: 184.67px;
height: 130.97px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 1100 Boul. René- Lévesque O, #1900 Montréal (QC), H3B 4N4 */

width: 184.67px;
height: 77px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* ou 160% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7.99px;

position: absolute;
height: 24px;
left: 33px;
right: 33px;
top: 362.25px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 100.08px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;

position: absolute;
height: 144px;
left: 33px;
right: 33px;
top: 33px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 184.67px;
height: 128px;

border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image */

width: 184.67px;
height: 128px;

background: url(.jpg);

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Paris */

box-sizing: border-box;

width: 250.67px;
height: 419.75px;

background: #FCF9F5;
border: 1px solid #C4C5D9;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Heading 4:margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

position: absolute;
height: 40px;
left: 33px;
right: 33px;
top: 177px;



/* Heading 4 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 184.67px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Paris */

width: 184.67px;
height: 32px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identique à la hauteur de la zone de texte, ou 130% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;

position: absolute;
height: 146.97px;
left: 33px;
right: 33px;
top: 216.19px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 53.97px;

width: 184.67px;
height: 130.97px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 9-15 rue Rouget de Lisle Issy-les-Moulineaux, 92130 */

width: 184.67px;
height: 77px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* ou 160% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7.99px;

position: absolute;
height: 24px;
left: 33px;
right: 33px;
top: 362.25px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 128.33px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;

position: absolute;
height: 144px;
left: 33px;
right: 33px;
top: 33px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 184.67px;
height: 128px;

border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image */

width: 184.67px;
height: 128px;

background: url(.jpg);

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Section Formulaire */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 80px 0px 0px;
gap: 80px;

width: 1216px;
height: 895.19px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Form Content Left */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 14.8px;

width: 376.33px;
height: 815.19px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 376.33px;
height: 96px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Prêt à faire évoluer votre organisation ? */

width: 376.33px;
height: 96px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* ou 120% */
display: flex;
align-items: center;
letter-spacing: -0.4px;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0.595px;

width: 376.33px;
height: 87.6px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Remplissez le formulaire et un de nos experts TI vous contactera dans les plus brefs délais pour discuter de vos défis et objectifs. */

width: 376.33px;
height: 87px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* ou 160% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17.2px 0px 0px;
gap: 16px;

width: 376.33px;
height: 121.2px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 376.33px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 284.84px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 284.84px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 376.33px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 260.61px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 260.61px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 376.33px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 249.69px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 249.69px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Form Right */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px;

width: 759.67px;
height: 815.19px;

background: #F0EDEA;
border: 1px solid #C4C5D9;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Form */

width: 661.67px;
height: 717.19px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 338.83px;
top: 0px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Prénom * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 338.83px;
right: 0px;
top: 0px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Nom * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 338.83px;
top: 98px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Courriel * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 338.83px;
right: 0px;
top: 98px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Téléphone */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 338.83px;
top: 196px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* De quoi souhaitez-vous parler ? * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Options */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 12px;
isolation: isolate;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image clip */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 9px 13px 289.83px;

position: absolute;
left: 0px;
right: 0.01px;
top: 0px;
bottom: 0px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 24px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.8px solid #6B7280;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 296.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Sélectionnez un sujet */

width: 296.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 338.83px;
right: 0px;
top: 196px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Expertise * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Options */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 12px;
isolation: isolate;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image clip */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 9px 13px 289.84px;

position: absolute;
left: 0px;
right: -0.01px;
top: 0px;
bottom: 0px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 24px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.8px solid #6B7280;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 296.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Sélectionnez une expertise */

width: 296.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 0px;
top: 294px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 661.67px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Précisez votre demande */

width: 661.67px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 661.67px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 154px;
left: 0px;
right: 0px;
top: 392px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 661.67px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Message * */

width: 661.67px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Textarea */

box-sizing: border-box;

width: 661.67px;
height: 122px;
overflow: scroll;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 0px;
gap: 12px;

position: absolute;
height: 83.19px;
left: 0px;
right: 0px;
top: 562px;



/* Input:margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 0px 0px;

width: 16px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 16px;
height: 16px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 633.67px;
height: 51.19px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

position: absolute;
width: 620.42px;
height: 52px;
left: 0px;
top: -0.71px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* ou 160% */
display: flex;
align-items: center;

color: #444656;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 56px;
left: 0px;
right: 0px;
top: 661.19px;



/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
isolation: isolate;

width: 221.78px;
height: 56px;

background: #002FC7;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button:shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 141.78px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
