/* Form */

width: 661.67px;
height: 717.19px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 338.83px;
top: 0px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Prénom * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 338.83px;
right: 0px;
top: 0px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Nom * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 338.83px;
top: 98px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Courriel * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 338.83px;
right: 0px;
top: 98px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Téléphone */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 338.83px;
top: 196px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* De quoi souhaitez-vous parler ? * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Options */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 12px;
isolation: isolate;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image clip */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 9px 13px 289.83px;

position: absolute;
left: 0px;
right: 0.01px;
top: 0px;
bottom: 0px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 24px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.8px solid #6B7280;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 296.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Sélectionnez un sujet */

width: 296.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 338.83px;
right: 0px;
top: 196px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 322.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Expertise * */

width: 322.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Options */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 12px;
isolation: isolate;

width: 322.83px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image clip */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 9px 13px 289.84px;

position: absolute;
left: 0px;
right: -0.01px;
top: 0px;
bottom: 0px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 24px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.8px solid #6B7280;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 296.83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Sélectionnez une expertise */

width: 296.83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 82px;
left: 0px;
right: 0px;
top: 294px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 661.67px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Précisez votre demande */

width: 661.67px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 661.67px;
height: 50px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
height: 154px;
left: 0px;
right: 0px;
top: 392px;



/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 661.67px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Message * */

width: 661.67px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Textarea */

box-sizing: border-box;

width: 661.67px;
height: 122px;
overflow: scroll;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 0px;
gap: 12px;

position: absolute;
height: 83.19px;
left: 0px;
right: 0px;
top: 562px;



/* Input:margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 0px 0px;

width: 16px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 16px;
height: 16px;

background: #FFFFFF;
border: 1px solid #C4C5D9;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 633.67px;
height: 51.19px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

position: absolute;
width: 620.42px;
height: 52px;
left: 0px;
top: -0.71px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* ou 160% */
display: flex;
align-items: center;

color: #444656;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 56px;
left: 0px;
right: 0px;
top: 661.19px;



/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
isolation: isolate;

width: 221.78px;
height: 56px;

background: #002FC7;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button:shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 141.78px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
