/* Landing page */

position: absolute;
width: 1280px;
height: 3244.38px;
left: 6947px;
top: 466px;
overflow-y: scroll;

background: linear-gradient(0deg, #FCF9F5, #FCF9F5), #FFFFFF;


/* Guide Benefits Section */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 0px;

position: absolute;
height: 542px;
left: 0px;
right: 0px;
top: 753.38px;

background: #FCF9F5;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 64px;

width: 1280px;
max-width: 1280px;
height: 382px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 1216px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1216px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 211.03px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 64px;
height: 4px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1216px;
height: 274px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background+Border+Shadow */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 32px 56px;
gap: 16px;

width: 389.33px;
height: 274px;

background: #FFFFFF;
border: 1px solid #E5E2DE;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: rgba(29, 70, 243, 0.1);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

width: 323.33px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Connaissance approfondie */

width: 323.33px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 323.33px;
height: 72px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Obtenez rapidement une vision claire des types de licences et des avantages concrets pour la structure de votre organisation. */

width: 323.33px;
height: 72px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background+Border+Shadow */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 32px 56px;
gap: 16px;

width: 389.33px;
height: 274px;

background: #FFFFFF;
border: 1px solid #E5E2DE;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Overlay */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: rgba(29, 70, 243, 0.1);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 12px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 12px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

width: 323.33px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Maximiser l'investissement */

width: 323.33px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 323.33px;
height: 72px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Évitez les dépenses inutiles en sélectionnant précisément les paliers de service adaptés à vos utilisateurs et applications. */

width: 323.33px;
height: 72px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background+Border+Shadow */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 16px;

width: 389.34px;
height: 274px;

background: #FFFFFF;
border: 1px solid #E5E2DE;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Overlay */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: rgba(29, 70, 243, 0.1);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 22.01px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 22.01px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

width: 323.34px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Alignement métier */

width: 323.34px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 323.34px;
height: 96px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Assurez-vous que vos besoins opérationnels sont parfaitement couverts par les fonctionnalités techniques de vos licences Microsoft. */

width: 323.34px;
height: 96px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header - Hero Section */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
height: 672.4px;
min-height: 600px;
left: 0px;
right: 0px;
top: 81px;

background: #F6F3EF;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 80px 32px;
gap: 24px;

width: 1260px;
max-width: 1280px;
height: 672.4px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 31.4px;

width: 576px;
height: 512.4px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 576px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 16.5px;
height: 14.62px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16.5px;
height: 14.62px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 276.31px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 276.31px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
letter-spacing: 1.6px;
text-transform: uppercase;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 576px;
height: 247px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 561.52px;
height: 247px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 62px;
/* ou 110% */
display: flex;
align-items: center;
letter-spacing: -1.12px;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0.6px 0px 0px;

width: 576px;
max-width: 576px;
height: 72.6px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* S’y retrouver dans les différentes licences peut sembler complexe pour les directions informatiques. Notre guide simplifie vos choix stratégiques pour optimiser vos investissements. */

width: 533px;
height: 72px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16.6px 0px 0px;
gap: 16px;

width: 576px;
height: 74.6px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 8px;

width: 232.28px;
height: 58px;

background: #002FC7;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 144.28px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 144.28px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #FFFFFF;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15.5px 32px 16.5px;

width: 194.33px;
height: 58px;

border: 1px solid #747688;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 128.33px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 596px;
height: 313.67px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Overlay+Blur */

position: absolute;
left: -16px;
right: -16px;
top: -16px;
bottom: -16px;

background: rgba(0, 47, 199, 0.05);
filter: blur(32px);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Overlay+Border+Shadow */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 596px;
height: 313.67px;

background: rgba(255, 255, 255, 0.002);
border: 1px solid rgba(255, 255, 255, 0.5);
box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
border-radius: 8px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* AP1WRLsRaocVgNAj0Ss0ufb_SMsmT0l7bXSXv2FpPR2OICKyujc4mlcoaHSPF48WKWjUsVdHCQH3jrIWBX_FHziw0QeltA5d1SznOoTzv4eziGBL2_JFW6KuKNTCGC0DwoxAzqi9Wx_SqvT1HGE-09XzMrxhJ94R7aSc9NfePZ0HOe7Prv3e-kuSmo588YBAlz-hShzrXdV45lxWFWBedSKuogbTnJqc431zzId1OBrYZUPWjWECUKxn7jn-5_c */

width: 594px;
height: 311.67px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Logo Victrix_Bleu nuit 1 */

position: absolute;
width: 172px;
height: 70px;
left: 27px;
top: 11px;

background: url(Logo Victrix_Bleu nuit);


/* Studio Section (Bento Inspired) */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 32px;

position: absolute;
height: 660px;
left: 0px;
right: 0px;
top: 1295.38px;

background: #EBE8E4;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 64px;

width: 1216px;
height: 500px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 2px 0px 0px;
gap: 32px;

width: 576px;
height: 419px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Background */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 12px;

width: 92.05px;
height: 23px;

background: #002FC7;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 68.05px;
height: 15px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 576px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Ø Studio, une technologie créative à votre service */

width: 576px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 576px;
height: 48px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Notre studio de création technologique multidisciplinaire vous accompagne dans la gestion et le développement de Microsoft Power Platform et Dynamics 365. */

width: 576px;
height: 48px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 576px;
height: 90px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Overlay+Border+OverlayBlur */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 0px;

width: 280px;
height: 90px;

background: rgba(255, 255, 255, 0.6);
border: 1px solid #FFFFFF;
backdrop-filter: blur(4px);
/* Remarque : la propriété backdrop-filter bénéficie d'un niveau de prise en charge minimum par les navigateurs */
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 246px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* +100 */

width: 246px;
height: 32px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identique à la hauteur de la zone de texte, ou 130% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 246px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Projets réussis */

width: 246px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Overlay+Border+OverlayBlur */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 0px;

width: 280px;
height: 90px;

background: rgba(255, 255, 255, 0.6);
border: 1px solid #FFFFFF;
backdrop-filter: blur(4px);
/* Remarque : la propriété backdrop-filter bénéficie d'un niveau de prise en charge minimum par les navigateurs */
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 246px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* +30 */

width: 246px;
height: 32px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
/* identique à la hauteur de la zone de texte, ou 130% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 246px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Spécialistes */

width: 246px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* List */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 576px;
height: 104px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 576px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 443.5px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 443.5px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 576px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 426.11px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 426.11px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 576px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 407.25px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 407.25px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 576px;
height: 500px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Overlay+Blur */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(0, 47, 199, 0.1);
filter: blur(50px);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

width: 576px;
height: 500px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
z-index: 1;


/* Background+Border */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: absolute;
left: -4px;
right: -4px;
top: -4px;
bottom: -4px;

background: url(.jpg);
border: 4px solid #FFFFFF;
border-radius: 16px;


/* Overlay+Shadow */

width: 576px;
height: 500px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
border-radius: 16px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background+Border */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 8px;
isolation: isolate;

position: absolute;
width: 279.98px;
max-width: 280px;
height: 142px;
left: -32px;
bottom: -32px;

background: #FFFFFF;
border: 1px solid #E5E2DE;
border-radius: 4px;


/* Overlay+Shadow */

position: absolute;
left: 0px;
right: -0.02px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 35.53px 0px 0px;
gap: 12px;

width: 229.98px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 12px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 12px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 158.45px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 158.45px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 225.64px;
height: 60px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* ou 143% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Section - Lead Gen Form */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 272px;

position: absolute;
height: 793.5px;
left: 0px;
right: 0px;
top: 1955.38px;

background: #FCF9F5;


/* Background+Border+Shadow */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px;
gap: 40px;
isolation: isolate;

width: 736px;
height: 633.5px;

background: #FFFFFF;
border: 1px solid #E5E2DE;
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
border-radius: 8px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 638px;
height: 56px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 638px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 170.48px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 638px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 620.64px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
height: 4px;
left: 1px;
right: 1px;
top: 1px;

background: #002FC7;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Form */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 638px;
height: 439.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 638px;
height: 82.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8.5px;

width: 307px;
height: 82.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Label → Prénom* */

width: 61.63px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 13px 12px 14px;

width: 307px;
height: 50px;

background: #FFFFFF;
border: 1px solid #747688;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 281px;
height: 21px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Votre prénom */

width: 281px;
height: 21px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identique à la hauteur de la zone de texte */
display: flex;
align-items: center;

color: #6B7280;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8.5px;

width: 307px;
height: 82.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Label → Nom* */

width: 39.58px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 13px 12px 14px;

width: 307px;
height: 50px;

background: #FFFFFF;
border: 1px solid #747688;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 281px;
height: 21px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Votre nom */

width: 281px;
height: 21px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identique à la hauteur de la zone de texte */
display: flex;
align-items: center;

color: #6B7280;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8.5px;

width: 638px;
height: 82.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Label → Entreprise* */

width: 81.19px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 13px 12px 14px;

width: 638px;
height: 50px;

background: #FFFFFF;
border: 1px solid #747688;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 612px;
height: 21px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Nom de votre entreprise */

width: 612px;
height: 21px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identique à la hauteur de la zone de texte */
display: flex;
align-items: center;

color: #6B7280;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8.5px;

width: 638px;
height: 82.5px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Label → Courriel Professionnel* */

width: 168.11px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #1C1C1A;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 13px 12px 14px;

width: 638px;
height: 50px;

background: #FFFFFF;
border: 1px solid #747688;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 612px;
height: 21px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* votre@courriel.com */

width: 612px;
height: 21px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identique à la hauteur de la zone de texte */
display: flex;
align-items: center;

color: #6B7280;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 638px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Input:margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 0px 0px;

width: 16px;
height: 22px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 16px;
height: 16px;

background: #FFFFFF;
border: 1px solid #747688;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 51.16px 0px 0px;

width: 610px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 558.84px;
height: 40px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* ou 143% */
display: flex;
align-items: center;

color: #444656;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 0px;
gap: 7.99px;
isolation: isolate;

width: 638px;
height: 56px;

background: #002FC7;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Button:shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 121.94px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Text */

width: 121.94px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 19px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Icon */

width: 19px;
height: 16px;

background: #FFFFFF;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Contact CTA Section */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 64px 0px;

position: absolute;
height: 184px;
left: 0px;
right: 0px;
top: 2747.38px;

background: #002FC7;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 32px;
gap: 482.79px;

width: 1280px;
max-width: 1280px;
height: 56px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 500.3px;
height: 56px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 500.3px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 309.28px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 500.3px;
height: 24px;

opacity: 0.9;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 500.3px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 32px;

width: 232.91px;
height: 56px;

background: #FFFFFF;
border-radius: 2px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 168.91px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #002FC7;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
