/* Mega Menu */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 0px 0px;
gap: 40px;
isolation: isolate;

position: absolute;
height: 584px;
left: 463px;
right: 6911px;
top: 2780px;

background: #FFFFFF;
border-top: 1px solid rgba(197, 198, 208, 0.1);


/* MEGA MENU COMPONENT:shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

width: 1184px;
height: 454px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Column 1: Expertises */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 169px;
gap: 24px;

position: absolute;
height: 454px;
left: 0px;
right: 918px;
top: 0px;



/* Heading 3 */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

width: 266px;
height: 29px;

border-bottom: 1px solid #C5C6D0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 91.78px;
height: 20px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;
letter-spacing: 1.4px;
text-transform: uppercase;

color: #001A42;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* List */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 274px;
height: 232px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 127.23px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 139px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Conseil stratégique */

width: 139px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 150.15px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 157px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Intelligence artificielle */

width: 157px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 133.06px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 100px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Infrastructure */

width: 100px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 113.35px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 63px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Secteurs */

width: 63px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 80.85px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 172px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Column 2: Services */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 217px;
gap: 24px;

position: absolute;
height: 502px;
left: 306px;
right: 612px;
top: 0px;



/* Heading 3 */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

width: 266px;
height: 29px;

border-bottom: 1px solid #C5C6D0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 74.53px;
height: 20px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;
letter-spacing: 1.4px;
text-transform: uppercase;

color: #001A42;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* List */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 274px;
height: 232px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 144.17px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 140px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Services applicatifs */

width: 140px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 112px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 93px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Infonuagique */

width: 93px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 83.01px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 102px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cybersécurité */

width: 102px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 128.43px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 83px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Projet en IA */

width: 83px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 128.43px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 105px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Services gérés */

width: 105px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Column 3: Produits */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 265px;
gap: 24px;

position: absolute;
height: 454px;
left: 612px;
right: 306px;
top: 0px;



/* Heading 3 */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

width: 266px;
height: 29px;

border-bottom: 1px solid #C5C6D0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 76.23px;
height: 20px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;
letter-spacing: 1.4px;
text-transform: uppercase;

color: #001A42;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* List */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 274px;
height: 136px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 140.04px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 67px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* O bureau */

width: 67px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 162.73px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 206px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Plateforme employé Intranet */

width: 206px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 274px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 168.01px;

width: 282px;
height: 40px;

border-radius: 4px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 158px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Approvisionnement TI */

width: 158px;
height: 24px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 4.32px;
height: 7px;

opacity: 0;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 4.32px;
height: 7px;

background: #191C1D;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Column 4: Featured Card */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 454px;
left: 918px;
right: 0px;
top: 0px;



/* Background+Border+Shadow */

box-sizing: border-box;

width: 266px;
height: 454px;

background: #F8F9FA;
border: 1px solid #C5C6D0;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 0px;

position: absolute;
height: 152px;
left: 25px;
right: 25px;
top: 277px;



/* Border */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 216px;
height: 128px;

border: 1px solid #C5C6D0;
border-radius: 8px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image */

width: 214px;
height: 126px;

background: url(.jpg);

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Background Decoration */

position: absolute;
width: 128px;
height: 128px;
right: -31px;
top: -31px;

background: rgba(0, 56, 230, 0.05);
filter: blur(20px);
border-radius: 9999px;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
height: 204px;
left: 25px;
right: 25px;
top: 25px;



/* Overlay */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: rgba(50, 86, 255, 0.1);
border-radius: 8px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 19.01px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 19.01px;
height: 20px;

background: #0038E6;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 4 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 0px 0px;

width: 216px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Projets en IA */

width: 216px;
height: 32px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;

color: #191C1D;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 216px;
height: 104px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Découvrez comment nous transformons les données en avantages stratégiques grâce à l'intelligence artificielle. */

width: 216px;
height: 104px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* ou 162% */
display: flex;
align-items: center;

color: #44474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 0px;

position: absolute;
height: 44px;
left: 25px;
right: 25px;
top: 229px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 216px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 155.88px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 131.88px;
height: 20px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;
letter-spacing: 0.7px;
text-transform: uppercase;

color: #0038E6;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 16px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #0038E6;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bottom Stripe */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 0px;

width: 1280px;
height: 49px;

background: #EDEEEF;
border-top: 1px solid rgba(197, 198, 208, 0.1);

/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 48px;
gap: 735.19px;

width: 1280px;
max-width: 1440px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 260.42px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 260.42px;
height: 16px;

font-family: 'Hanken Grotesk';
font-style: italic;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;

color: #44474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 188.39px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 75.09px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 75.09px;
height: 16px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;

color: #0038E6;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 89.3px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 89.3px;
height: 16px;

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;

color: #0038E6;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
